@charset "UTF-8";

@font-face {
    font-family: 'MENU';
    src: url('../fontes/EVELETH.OTF') format('OpenType');
    font-weight: normal;
    font-style: normal;

}

body{
    background-color: #B32E18;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header{
    background-color: #ffd3cd;
}

header > label{
    font-family: 'MENU';
    margin: 0px;
    padding: 20px;
    font-size: 3em;
    justify-content: center;
    color: #951d08;
    display: flex;
    font-weight: bolder;
}
header > nav{
    background-color: #33120C;
    padding: 15px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
} 

header > nav > a{
    padding: 10px;
    color: white;
    text-decoration: none;
}

header > nav > a:hover{
    padding-top: 5px;
    padding-bottom: 5px;
    color: yellow;
    transition-duration: .20s;
    background-color: #951d08;
    border-radius: 5px;
}

main{
    display: flex;
    justify-content: center;
    margin: 20PX 20px 70px 20px;
    flex-wrap: wrap;
}


main > picture > img{
    margin-top: 50px;
    width:100%;
}

main > h1{
    font-size: 3em;
    text-align: center;
    color: white;
    margin: 20px;
    margin-bottom: 50px;
}

main > div{
    margin: 40px 15px;
    background-color: white;
    height: 640px;
    width: 370px;
    border-radius: 12px ;
}

main > div:hover{
    margin-top: 20px;
    margin-bottom: 60px;
    transition-duration: 0.3s;
}

main > div> img{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px ;
}

main > div > h1{
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 0px;
    
}

main > div > ul{
    font-size: 1.2em;
    padding: 10px 80px;
    margin-bottom: 0px;
}

main > div > p{
    margin-top: 10px;
}

.centralizar{
    font-size: 1.5em;
    text-align: center;
    padding: 10px 30px;
}

form{
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    padding: 50px 80px 50px 100px;
    background-color: white;
}

label{
    font-size: 1.5em;
    padding-top: 40px;
}

input{
    border-radius: 10px;
    font-size: 1.4em;
    min-width: 30px;
    min-height: 35px;
    margin-bottom: 30px;
}

.data{
    min-width: 100px;
}

form>div>input{
    background-color: aqua;
    min-height: 15px;
    margin-bottom: 15px;
}

form>div>label{
    font-size: 1.2em;

}

form>div{
    margin-bottom: 20px;
}

footer{
    width: 100%;
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 2px 0px;
    margin-bottom: 0px;
}